<div class="width40 bggrey">
  <div class="padding flex align-center">
  <p> <%=link_to "sign up", new_user_registration_path, id:"text-decoration2" %> or <%=link_to "log in", new_user_session_path, id:"text-decoration2" %> to start exchange boxes !</p>
  </div>
</div>
