<div data-controller="box-exchange">
  <%= fields_for "exchange[box_exchanges_attributes][#{index}]", BoxExchange.new do |form| %>
    <%= form.hidden_field :role, value: "recipient"%>
    <%= form.select :box_id, boxes.map { |box| ["#{box.dividende.vinyard.name} - #{box.dividende.year}", box.id]},{prompt: "Choose a box"}, {class:"select-initiator"}  %>
  <%end%>
  <button type="button" class="delete" data-action="click->box-exchange#remove">x</button>
</div>
