<%if current_user && current_user == @vinyard.admin%>
            <h3>Dividendes</h3>
            <div class="grid">
              <%@vinyard_dividendes.each do |d|%>
                  <div class="flex-column gap1">
                    <div class="box flex-column gap1">
                      <div class="flex-column">
                        <h4 class="margin-top-bottom05 align-center"><%=d.year%></h4>
                        <div class="flex width100 gap05">
                          <div class="border-bottom width100 height50"></div>
                          <div class="flex">
                            <%d.value.times do%>
                              <div class="star"></div>
                            <%end%>
                          </div>
                          <div class="border-bottom width100 height50"></div>
                        </div>
                      </div>
                      <div class="flex-column gap1">
                        <%d.dividende_cuvee_colors.each do |dcc|%>
                          <div class="flex gap1">
                            <h5><%="#{dcc.bottle_quantity}x #{dcc.cuvee_color.cuvee.name}(#{dcc.cuvee_color.color.color})"%></h5>
                          </div>
                        <%end%>
                      </div>
                    </div>
                    <%=button_to "delete", vinyard_dividende_path(@vinyard, d), method: :delete%>
                  </div>
              <%end%>
            </div>
          <%end%>
