.banner{
  background-color: #8c002a;
  font-size: 2em;


}

.container-banner{
  margin: 0 auto;
  width:97%;
}

#logo a{
  text-decoration: none;
  color: #a30000;
}

#logo{
  font-size: 3em;
  margin-bottom: 0em;
  margin-top: 0em;

}

.tagline{
  font-size: 1em;
  color: #a30000;
  margin: 0;


}

.log{
  font-family: "Inter", sans-serif;
  font-size: 1em;
  color: #a30000;
  margin: 0;
  justify-content: end;
}

.login{
  font-family: "Inter", sans-serif;
  color: #a30000;
  display: flex;
  gap:2em;
}

.login a{
  text-decoration: none;
  color: #a30000;
}

.login a:hover{
  color: #520000;
}


.container a{
  text-decoration: none;
  color: #333332
}
