h2{
  font-family: "Inter", sans-serif;
  font-size: 1em;
  margin:0;
}

h4{
  font-family: "Inter", sans-serif;
  font-size: 0.8em;
  margin: 0;
}

h3{
  font-family: "Inter", sans-serif;
  font-size: 2em;
}

p{
  font-family: "Inter", sans-serif;
  font-size: 0.9em;
}
