h2{
  font-family: "Inter", sans-serif;
  font-size: 1em;
  margin:0;
}

h4{
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
  margin: 0;
  font-weight: 100;
}

h5{
  font-family: "Inter", sans-serif;
  font-size: 0.9em;
  margin: 0;
  font-weight: 100;
}

h3{
  font-family: "Inter", sans-serif;
  font-size: 1.6em;
  margin:0;
  height:fit-content;
}

p{
  font-family: "Inter", sans-serif;
  font-size: 0.9em;
}
