.vinyard{
  width:14em;
  height: 14em;
  border: 1px solid #c0c0c0;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-bottom: 0.3em;
}



.vinyard-name{
  height: 4em;
  margin-bottom: 0.3em;
  padding: 0.5em;

}

.vinyard-name h3{
  font-family: "inter", sans-serif;
  font-size: 0.9em;
  margin:0;
}

.name{
  display: inline-block;
  font-family: "inter", sans-serif;
  font-size: 0.7em;
  margin:0;
}

.vinyard-info{
height: calc(100% - 4em);
flex-direction: column;
}

.box{
  width:13em;
  height: 13em;
  border: 1px solid #c0c0c0;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-bottom: 0.3em;
}

.grid-box{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13em, 1fr));
  gap: 0.5em;
  margin: 0.5em;
}
